.modal {
    display: flex;
    justify-content: center;
    align-items: center;

    .timePicker {

        height: auto;
        border-radius: 12px;
        background-color: white;
        padding: 18px 33px;
        .close {
            width: 100%;
            cursor: pointer;
            display: flex;
            justify-content: flex-end;

            .icon {
                width: 20px;
                height: 20px;
                color: black;
            }
        }
        .timePickerWrapper {
       
            h1 {
                font-size: 24px;
                font-weight: 700;
            }

            .chooseTime {
                padding: 20px 0 0 0;
                display: flex;
                flex-direction: column;
                .textInput {
                    outline: none;
                    border-radius: 5px;
                    margin: 10px 0;
                    // width: 255px;

                    margin-bottom: 8px;
                    position: static;
                    font-size: 14px;
                    font-weight: 500;
                    color: rgba(127, 129, 136, 1);

                    border: 1px solid rgba(98, 99, 115, 0.3);

                    &:focus {
                        background-color: white;
                    }
                }
                .inputlabel {
                    position: static;
                    font-size: 12px;
                    font-weight: 500;
                    color: rgba(127, 129, 136, 1);
                }
                .time{
                    display: flex;
            flex-direction: column;
                }
            }
        }
      
    }
}
