.datepickerConteiner {
  display: flex;
width: 100%;
  align-items: flex-start;
  flex-direction: column;
  .datapicker {
    width: 100%;
    color: rgba(127, 129, 136, 1);
    font-size: 12px;
    font-weight: 500;
  }
}
