@mixin divs {
  width: 100%;
  max-width: 350px;
  height: 111px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
}

.dashdoardCont {
  background-color: #f9f9f9;
  min-height: 100vh;

  .conteiner {
    padding: 31px 44px;

    .wrapper {
      height: calc(90vh - 80px);
      overflow-y: auto;

      .dashboards {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .dashdoard {
          display: flex;
          justify-content: space-between;
          gap: 20px;

          .active {
            background-color: #d7a86e !important;
            color: white !important;
            p {
              color: white !important;
            }

            .iconCont {
              .icon {
                width: 100%;
                height: 100%;
                .icons {
                  color: white !important;
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
          .TotalBookings {
            cursor: pointer;
            @include divs;

            .Total {
              p {
                color: rgba(163, 174, 208, 1);
              }
            }

            .iconCont {
              .icon {
                width: 100%;
                height: 100%;
                .icons {
                  color: #d7a86e;
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
          .active {
            color: white !important;
            background-color: #d7a86e !important;
            .graph {
              .graphicon {
                color: white !important;
              }
            }
          }
          .NewClients {
            cursor: pointer;
            @include divs;
            .clientsConteiner {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;

              .personicon {
                width: 56px;
                height: 56px;
                border-radius: 50%;
                background-color: #d7a86e !important;
                display: flex;
                align-items: center;
                justify-content: center;
                .Icon {
                  color: #fcf6f6;
                  width: 28px;
                  height: 28px;
                }
              }
              .newClients {
                p {
                  color: rgba(163, 174, 208, 1);
                }
              }
              .graph {
                .graphicon {
                  width: 58px;
                  height: 28px;
                  color: #d7a86e;
                }
              }
            }
          }
          .active {
            background-color: #d7a86e !important;
            color: white !important;
            p {
              color: white !important;
            }
            .earningsIcon {
              background-color: #d7a86e !important;

              p {
                color: white;
              }
            }
          }
          .Earnings {
            @include divs;
            cursor: pointer;
            .earningsCont {
              display: flex;
              align-items: center;
              width: 100%;
              .earningsWrapper {
                width: 100%;
                display: flex;
                align-items: center;

                justify-content: space-evenly;
                .earningsIcon {
                  width: 56px;
                  height: 56px;
                  border-radius: 50%;
                  background-color: #f5f4f2;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  p {
                    color: #d4a373;
                  }
                }
                .earningsText {
                  p {
                    color: rgba(163, 174, 208, 1);
                    .icon {
                      width: 32px;
                      height: 32px;
                    }
                  }
                }
              }
            }
          }
          .active {
            .iconActivity {
              color: white !important;
            }
          }
          .Activity {
            cursor: pointer;
            @include divs;
            // background-color: #d7a86e;
            // color: white;

            .ActivityConteiner {
              display: flex;
              width: 100%;
              align-items: center;
              justify-content: space-around;
              .texts {
                p {
                  color: rgba(163, 174, 208, 1);
                }
              }
              .iconCont {
                p {
                  .iconActivity {
                    color: #d7a86e;
                    width: 35px;
                    height: 35px;
                  }
                }
              }
            }
          }
        }

        .chart {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 20px;
          height: 400px;
          .TotalEarnings {
            flex: 1;
            min-width: 0;
            width: 731px;
            height: 410px;
            background-color: white;
            border-radius: 12px;
            padding: 24px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
            .charts {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: space-around;
              flex-direction: column;
            }
          }

          .calendar {
            flex-shrink: 0;
            width: 330px;
            height: 410px;
            background-color: white;
            border-radius: 12px;
            padding: 24px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
          }
        }
      }
    }
  }
}
