.inbox{
   .inboxheader{
    padding: 10px 20px;
    display: flex;

width: 100%;
.inbox_Messages{


padding: 25px 20px;
width:  480px;
border-radius: 12px;
height: 708px;
background-color: #fff;
.searchWrapper {
    position: relative;
    display: flex;
    align-items: center;
    .Icon {
      margin: 0 0 0 12px;
      font-size: 20px;
      width: 24px;
      height: 24px;
      color: black;
      cursor: pointer;
      position: absolute;
      font-weight: 600;
    }
    input[type="text"] {
      outline: none;
      height: 48px;
      width: 100%;
      background-color: rgba(248, 249, 250, 1);
      border: none;
      padding: 10px 15px 10px 40px;
      font-size: 14px;
      font-weight: 400;
      &::placeholder {
        margin: 12px;
        font-size: 14px;
        font-weight: 400;
        color: rgba(160, 174, 192, 1);
      }
    }
  }
}

.messagesCont{
    width: calc(100% - 450px);
    padding: 0 15px;
    .Message_Header{
        box-shadow: 0px 4px 4px 0px #D4D4D440;

        border-radius: 12px;
        height: 108px;
        width: 100%;
        background-color: #fff;
        margin: 0 0 20px 0;
    }

.messagesBox{
    width: 100%;
    border-radius: 12px;
height: 578px;
background-color: #fff;
}
}
   } 
}