.pagination {
    display: flex;
    justify-content: center; 
    width: 100%;
    margin: 5px 0;
  }
  
  .stack {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .perpages {
    display: flex;
    align-items: center;
  
    p {
      margin: 8px;
    }
  }
  