
.rbc-event {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;

}


.rbc-event:hover {
  background-color: transparent !important;
}


.rbc-selected {
  background-color: transparent !important;
}

.rbc-day-slot, .rbc-time-content, .rbc-time-column {
  border: none;
}
.rbc-month-row + .rbc-month-row {
border: none;
}