.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    .availabilityModal {
        background-color: white;
        width: 610px;
        height: auto;
        max-height: 90vh;
        overflow: hidden;
        border-radius: 12px;
        padding: 18px 33px;
        .close {
            width: 100%;

            display: flex;
            justify-content: flex-end;

            .icon {
                cursor: pointer;
                width: 24px;
                height: 24px;
                color: black;
            }
        }

        .availabilityWrapper {
            .title {
                font-size: 24px;

                line-height: 32px;
            }
            .nameandStatus {
                display: flex;
                width: 100%;
                align-items: flex-end;
            }
            .Demo {
                display: flex;
              width: 100%;
            
              
              }
        }
    }
}
