.modal {
    display: flex;
    justify-content: center;
 
    
        align-items: center;
    .clientmodal {
      background-color: white;
      width: 610px;
  // overflow-y: scroll;
      height: auto;
      max-height: 90vh;
      border-radius: 12px;
      padding: 18px 33px;
      .close {
        width: 100%;

        display: flex;
        justify-content: flex-end;
  
        .icon {
          cursor: pointer;
          width: 24px;
          height: 24px;
          color: black;
        }
      }
      .clientmodalpage {
        h1 {
          font-size: 24px;
          font-weight: 700;
          line-height: 32px;
        }
      }
      .clentselect {
        .clentwrapper {
          display: flex;
          align-items: flex-end;
  padding: 20px 0 0 0;
 

        }
      }
    }
  }
  @media screen and (max-height: 930px) {
    .modal {
      .clientmodal {
        overflow-y: scroll;
      }
    }
  }
  