.logoutbox {
  width: 100%;
 
  .ListBox {
    
    width: 100%;
    height: 50px;
    padding: 16px 24px;

    .logoutButton {
      width: 100%;
      height: 50px;
      padding: 0;
      color: rgb(19, 19, 19);
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        border-radius: 6px;
      }
      .logoutText {
        font-size: 16px;
      }
    }
    .icons {
      text-align: center;
      display: flex;
      align-items: center;
      color: inherit;
      min-width: 0;
      padding: 0 13px 0 13px;
    }
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  .logoutmodal {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 593px;
    height: 317px;
    border-radius: 15px;

    text-align: center;
    .logoutText {
      border-bottom: 1px solid rgba(150, 150, 150, 0.2);

      height: 208px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        color: rgba(0, 0, 0, 1);
      }
    }

    .buttons {
      width: 100%;
      flex: 1;
      align-items: stretch;
      height: 100%; 
      display: flex;
   
      overflow: hidden;
      button {
        border-radius: 15px;
        cursor: pointer;
        &:nth-of-type(1){
            border-right: 1px solid  rgba(150, 150, 150, 0.2);
        }
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
       
        background-color: rgba(255, 255, 255, 1);
        border: none;
      }
    }
  }
}
