.modal {
  display: flex;
  justify-content: center;
  align-items: center;

  .bookingmodal {
    background-color: white;
    width: 610px;
    height: auto;
    max-height: 90vh;

    overflow: hidden;
    border-radius: 12px;
    padding: 18px 33px;
    .close {
      width: 100%;

      display: flex;
      justify-content: flex-end;

      .icon {
        cursor: pointer;
        width: 24px;
        height: 24px;
        color: black;
      }
    }

    .bookingWrapper {
      h1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
      }
      .numberandservice {
        display: flex;
        align-items: flex-end;
      }
      .TimeandSpecialist {
        display: flex;
        height: 100%;
        .formControl {
          width: 100%;

          .inputlabel {
            margin-bottom: 18px;
            position: static;
            font-size: 12px;
            font-weight: 500;
            color: rgba(127, 129, 136, 1);
          }
          .textInput {
            outline: none;
            border-radius: 5px;
            margin: 10px 0;
            // width: 255px;

            margin-bottom: 8px;
            position: static;
            font-size: 14px;
            font-weight: 500;
            color: rgba(127, 129, 136, 1);

            border: 1px solid rgba(98, 99, 115, 0.3);

            &:focus {
              background-color: white;
            }
          }
        }
      }
      .datapicker {
        margin: 10px 0;
      }
      .Demo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 12px 0;
      }
    }
  }
}
@media screen and (max-height: 930px) {
  .modal {
    .bookingmodal {
      overflow-y: scroll;
    }
  }
}
