.modal {
  display: flex;
  justify-content: center;
  align-items: center;

  .blogModal {
    background-color: white;
    width: 610px;
    height: auto;
    max-height: 90vh;
    overflow-y: scroll;
    border-radius: 12px;
    padding: 18px 33px;
    .close {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .icon {
        cursor: pointer;
        width: 24px;
        height: 24px;
        color: black;
      }
    }
    .BlogWrapper {
      h1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
      }
      
    }
  }
}
@media screen and (max-height: 930px) {
  .modal {
    .bookingmodal {
      overflow-y: scroll;
    }
  }
}
